body {
	 background-image: url(https://kalix.club/uploads/posts/2022-12/1671719193_kalix-club-p-fon-dlya-prezentatsii-nebo-s-oblakami-kras-51.jpg);
}
 h1 {
	 font-size: 3em;
	 font-family: "Times New Roman";
	 font-weight: bold;
	 text-transform: uppercase;
	 text-align: center;
}
 p {
	 font-size: 1em;
	 font-family: Helvetica;
	 line-height: 1.5em;
	 font-weight: normal;
}


